// Configuración del ejecutor
executor {
    name = 'local'
    cpus = 15
    memory = '60 GB'
    queueSize = 6
    cacheable = true
}

// Configuración de procesos
process {
    executor = 'local'
    cache = 'lenient'
    cleanup = false
    shell = ['/bin/bash', '-euo', 'pipefail']

    withName: 'download_srr' {
        cpus = 4
        memory = '16 GB'
        maxForks = 4
    }

    withName: 'fastqc_raw' {
        cpus = 12
        memory = '24 GB'
        maxForks = 6
    }

    withName: 'trimmomatic' {
        cpus = 12
        memory = '20 GB'
        maxForks = 6
    }

    withName: 'fastqc_trimmed' {
        cpus = 12
        memory = '24 GB'
        maxForks = 5
    }

    withName: 'star' {
        cpus = 12
        memory = '50 GB'
        maxForks = 2
    }

    withName: 'SAMTOOLS_SORT_INDEX' {
        cpus = 8
        memory = '24 GB'
        maxForks = 4
    }

    withName: 'generate_bigwig' {
        cpus = 12
        memory = '20 GB'
        maxForks = 3
    }

    withName: 'RMATS_ORIGINAL_GTF' {
        cpus = 12
        memory = '24 GB'
        maxForks = 1
    }

    withName: 'SALMON_INDEX' {
        cpus = 14
        memory = '20 GB'
    }

    withName: 'SALMON_QUANT' {
        cpus = 14
        memory = '25 GB'
    }

    withName: 'GFFREAD_TX2GENE' {
        cpus = 6
        memory = '4 GB'
        maxForks = 4
    }

    withName: 'TXIMPORT' {
        cpus = 12
        memory = '12 GB'
        maxForks = 2
    }

    withName: 'suppa2_generate_events' {
        cpus = 8
        memory = '12 GB'
        maxForks = 2
    }

    withName: 'suppa2_generate_isoforms' {
        cpus = 8
        memory = '12 GB'
        maxForks = 2
    }

    withName: 'suppa2_psi_per_event' {
        cpus = 8
        memory = '8 GB'
        maxForks = 3
    }

    withName: 'suppa_per_isoform' {
        cpus = 8
        memory = '8 GB'
        maxForks = 3
    }

    withName: 'split_psi_ioe' {
        cpus = 8
        memory = '4 GB'
        maxForks = 4
    }

    withName: 'split_psi_ioi' {
        cpus = 8
        memory = '4 GB'
        maxForks = 4
    }

    withName: 'split_tpm_file' {
        cpus = 8
        memory = '4 GB'
        maxForks = 4
    }

    withName: 'suppa_diffsplice_ioe' {
        cpus = 8
        memory = '12 GB'
        maxForks = 2
    }

    withName: 'suppa_diffsplice_ioi' {
        cpus = 8
        memory = '12 GB'
        maxForks = 2
    }

    withName: 'DESEQ2_DIFFERENTIAL' {
        cpus = 8
        memory = '16 GB'
        maxForks = 1
    }

    withName: 'GENERATE_DESEQ2_REPORT' {
        cpus = 4
        memory = '4 GB'
        maxForks = 4
    }

    withName: 'GSEA' {
        cpus = 8
        memory = '16 GB'
        maxForks = 1
    }

    withName: 'GPROFILER' {
        cpus = 8
        memory = '12 GB'
        maxForks = 2
    }

    withName: 'GENERATE_BACKGROUND' {
        cpus = 4
        memory = '4 GB'
        maxForks = 4
    }

    withName: 'multiqc_run' {
        cpus = 6
        memory = '4 GB'
        maxForks = 4
    }
}

params {
   // Parámetros generales
   outdir = 'results'  // Directorio de salida
   run_prefix = "output"  // Prefijo para archivos de salida
   samplesheet = null  // Hoja de muestras (opcional)
   single_end = false  // Lecturas single-end (false para paired-end)
   stranded = 'first-strand'  // Tipo de librería (unstranded, first-strand, second-strand) 
   readlength = 75  // Longitud de las lecturas
   reference_level = 'control'  // Nivel de referencia     
   target_level = 'treatment'  // Nivel objetivo
   bam1 = "/Data_Giulia/bam1.txt"   // Ruta BAM 1 para rMATS
   bam2 = "/Data_Giulia/bam2.txt"   // Ruta BAM 2 para rmats
   use_trimmed = false  // Por defecto usa archivos crudos

   // Control de flujo del pipeline
   full_pipeline = true  // Ejecutar pipeline completo
   aligner_star = true  // Usar alineador STAR
   aligner_salmon = true  // Usar alineador Salmon
   run_suppa = true  // Ejecutar análisis SUPPA
   run_rmats = false // No ejecutar análisis rMATS 
   skip_multiqc = false  // No omitir MultiQC

   // Archivos de entrada y referencia
   genome_fasta = null  // Archivo FASTA del genoma
   transcript_fasta = null  // Archivo FASTA de transcritos
   gtf = null  // Archivo de anotación GTF
   genomeDir = null  // Directorio del índice del genoma STAR
   adapters = null  // Archivo de adaptadores para trimming
   salmon_tximport_tsv = null  // Archivo TSV para importar cuantificaciones de Salmon

   // Parámetros Trimmomatic
   trimmomatic_illuminaclip = "2:30:10"  // Parámetros para eliminar adaptadores Illumina
   trimmomatic_leading = 20  // Calidad mínima para bases iniciales
   trimmomatic_trailing = 20  // Calidad mínima para bases finales
   trimmomatic_slidingwindow = "4:20"  // Ventana deslizante para filtrar por calidad
   trimmomatic_minlen = 36  // Longitud mínima de lecturas después del trimming

   // Parámetros STAR
   star_readFilesCommand = "zcat"  // Comando para descomprimir FASTQ
   star_readMatesLengthsIn = "NotEqual"  // Longitudes de mates no iguales  
   star_outFileNamePrefix = ""  // Prefijo para archivos de salida
   star_alignEndsType = "Local"  // Tipo de alineamiento de extremos
   star_mismatch = 2  // Número máximo de mismatches 
   star_overhang = 74  // Longitud de overhang
   star_alignSJoverhangMin = 8  // Mínimo overhang para uniones de empalme anotadas 
   star_alignSJDBoverhangMin = 3  // Mínimo overhang para uniones de empalme no anotadas
   star_outFilterMultimapNmax = 20  // Máximo número de alineamientos múltiples 
   star_outFilterMismatchNmax = 5  // Máximo número de mismatches
   star_alignIntronMin = 45  // Tamaño mínimo de intrón
   star_alignIntronMax = 1000000  // Tamaño máximo de intrón  
   star_alignMatesGapMax = 1000000  // Máximo gap entre mates
   star_soft_clipping = true  // Soft clipping activado
   star_filterScore = 0.66  // Score mínimo de alineamiento 
   star_sjdbOverhangMin = 3  // Mínimo overhang para uniones de empalme
   star_save_unmapped = false  // No guardar lecturas no mapeadas
   star_outSAMattributes = "All"  // Atributos SAM a incluir
   star_outSAMtype = "BAM Unsorted"  // Tipo de salida SAM  
   star_outFilterType = "BySJout"  // Tipo de filtrado
   star_twopassMode = "Basic"  // Modo de dos pasadas
   star_quantMode = "GeneCounts"  // Modo de cuantificación

   // Parámetros para rMATS
   rmats_libType = "fr-firststrand"  // Tipo de librería
   mil = 50  // Longitud mínima de intrón       
   mel = 500  // Longitud máxima de exón     
   rmats_novelSS = true  // Detectar nuevos sitios de empalme
   rmats_statoff = false  // Estadísticas desactivadas
   cstat = 0.0001  // Umbral estadístico  
   rmats_variable_read_length = true  // Longitud variable de lectura
   rmats_allow_clipping = true  // Permitir clipping

   // Parámetros para Stringtie
   stringtie_min_anchor = 8  // Longitud mínima de anclaje
   stringtie_min_length = 200  // Longitud mínima de transcrito
   stringtie_min_coverage = 2.5  // Cobertura mínima
   stringtie_min_fpkm = 0.1  // FPKM mínimo
   stringtie_min_tpm = 1.0  // TPM mínimo
   stringtie_gap = 50  // Máximo gap permitido

   // Parámetros para Salmon
   salmon_additional_params = ''  // Parámetros adicionales
   alignment_mode = false  // Modo de alineamiento desactivado
   lib_type = 'ISR'  // Tipo de librería

   // Parámetros para análisis diferencial
   contrast_variable = 'condition'  // Variable de contraste
   reference_level = 'control'  // Nivel de referencia
   target_level = 'treatment'  // Nivel objetivo
   lfc_threshold = 0  // Umbral de fold change
   alpha = 0.1  // Nivel de significancia
   p_adjust_method = 'BH'  // Método de ajuste de p-valores
   shrink_lfc = true  // Encogimiento de fold change

   // Parámetros SUPPA
   area = 1000  // Área
   lower_bound = 0.05  // Límite inferior 
   alpha = 0.05  // Nivel de significancia
   tpm_threshold = 0  // Umbral de TPM
   nan_threshold = 0  // Umbral de NaN
   sig_threshold = 0.05  // Umbral de significancia
   dpsi_threshold = 0.05  // Umbral de diferencia de PSI
   eps = 0.05  // Épsilon
   metric = "euclidean"  // Métrica de distancia
   min_pts = 20  // Mínimo de puntos
   groups = "1-3,4-6"  // Grupos
   clustering_method = "DBSCAN"  // Método de clustering
   events = "SE SS MX RI FL"  // Eventos de splicing

   // Parámetros GSEA   
   gsea_gmt_symbols = [  // Archivos GMT con símbolos
       "/mnt/disco_2/FReyes/Datos/h.all.v2024.1.Hs.symbols.gmt",
       "/mnt/disco_2/FReyes/Datos/c2.all.v2024.1.Hs.symbols.gmt", 
       "/mnt/disco_2/FReyes/Datos/c3.all.v2024.1.Hs.symbols.gmt",
       "/mnt/disco_2/FReyes/Datos/c5.all.v2024.1.Hs.symbols.gmt"
   ]

   // Parámetros GSEA
   gsea_run = false  // No ejecutar GSEA
   gsea_nperm = 1000  // Número de permutaciones
   gsea_permute = 'phenotype'  // Permutar fenotipos  
   gsea_scoring_scheme = 'weighted'  // Esquema de puntuación
   gsea_metric = 'Signal2Noise'  // Métrica
   gsea_sort = 'real'  // Ordenar por valores reales
   gsea_order = 'descending'  // Orden descendente
   gsea_set_max = 500  // Tamaño máximo de conjunto
   gsea_set_min = 15  // Tamaño mínimo de conjunto  
   gsea_norm = 'meandiv'  // Normalización
   gsea_rnd_type = 'no_balance'  // Tipo de randomización
   gsea_make_sets = true  // Crear conjuntos 
   gsea_median = false  // No usar mediana
   gsea_num = 100  // Número de conjuntos a mostrar
   gsea_plot_top_x = 20  // Número de conjuntos a graficar
   gsea_rnd_seed = 'timestamp'  // Semilla aleatoria
   gsea_save_rnd_lists = false  // No guardar listas aleatorias
   gsea_zip_report = false  // No comprimir reporte

   // Parámetros gProfiler
   gprofiler_run = true  // Ejecutar gProfiler
   gprofiler_organism = "hsapiens"  // Organismo
   gprofiler_sources = "GO:BP,GO:MF,GO:CC,KEGG,REAC,TF,MIRNA,CORUM,HP,HPA,WP"  // Fuentes de datos
   gprofiler_user_threshold = 0.05  // Umbral de significancia
   gprofiler_correction_method = "g_SCS"  // Método de corrección  
   gprofiler_background = ""  // Conjunto de fondo
   gprofiler_ordered_query = false  // Consulta no ordenada
   gprofiler_exclude_iea = true  // Excluir anotaciones IEA

   // Tipo de Libreria
   libTypeMap = [  // Mapa de tipos de librería
       'first-strand': ['rmats': 'fr-firststrand', 'salmon': 'ISR', 'stringtie': '--rf'],
       'second-strand': ['rmats': 'fr-secondstrand', 'salmon': 'ISF', 'stringtie': '--fr'],
       'unstranded': ['rmats': 'fr-unstranded', 'salmon': 'IU', 'stringtie': ''],
       'unknown': ['rmats': 'fr-unstranded', 'salmon': 'A', 'stringtie': ''] 
   ]
}

// Generacion de reporte
report {
    enabled = true
    file = "${params.outdir}/pipeline_report.html"
    overwrite = true
}

// Generacion de linea de tiempo
timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

// Genracion del trace (registro detallado del proceso)
trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
    overwrite = true
}
